# prerequisites
*.d

# compiled object files
*.slo
*.lo
*.o
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libraries
*.so
*.dylib
*.dll

# compiled static libraries
*.lai
*.la
*.a
*.lib

# executables
*.exe
*.out
overflow

# ides and editors
.vscode/
.idea/
*.swp
*.swo

# cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
compile_commands.json
build/
.cache/
